apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: harbor
  namespace: argocd
spec:
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
  project: default
  sources:
    - chart: harbor
      repoURL: https://helm.goharbor.io
      targetRevision: 1.18.1 # Replace with the Harbor version you'd like to install or upgrade to
      helm:
        valueFiles: 
        - $values/harbor-values.yaml
    - repoURL: 'https://github.com/wartoz/harbor.git'
      targetRevision: main
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: harbor